div.logo.d-flex {
    justify-content: space-around;
    margin-left: 10px;
    padding: 0px 0px;
}

div.container.pt-2.d-flex {
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;
}

@media(max-width:766px) {
    .earth li.eng,
    .mode {
        margin-top: 0px;
        margin-left: 20px;
        font-size: 12px;
    }
    .earth li.mode {
        margin-left: 20px;
    }
    div.container.pt-2.d-flex h6 {
        align-items: center;
    }
}